:root {
  --purple: #3f04bb;
  --white: #fff;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

.content {
  flex: 1 0 auto;
}

h1 {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;

  & button {
    border-radius: 10px;
    padding: 0.6rem;
    background-color: var(--purple);
    border: none;
    color: var(--white);
    cursor: pointer;
    touch-action: manipulation;
  }
}

#warmup-btn {
  color: var(--purple);
  background-color: var(--white);
  border: none;
  display: flex;
  cursor: pointer;
  touch-action: manipulation;
  padding-left: 0;
  margin: 1.5rem 2.5rem;
}

.warmup-arrow {
  margin-right: 5px;
  width: 20px;
}

.warmup-list {
  list-style: none;
  padding: 0;

  & li {
    margin: 1.5rem 2.5rem;
    line-height: 1.3rem;

    .warmup-title {
      font-weight: bold;
    }
  }

  .warmup-last {
    border-bottom: 1px solid var(--purple);
    padding-bottom: 1.5rem;
  }
}

.hide-warmups {
  display: none;
}

#main {
  list-style: none;
  padding: 0;

  & li {
    margin: 1.5rem 2.5rem;
    line-height: 1.3rem;

    .name {
      font-weight: bold;
    }
  }
}

footer {
  text-align: center;
  flex-shrink: 0;
  padding: 1rem 1rem 2rem;

  & a {
    text-decoration: none;

    &:visited {
      color: var(--purple);
    }
  }
}
