:root {
  --purple: #3F04BB;
  --white: #FFF;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

.content {
  flex: 1 0 auto;
}

h1 {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}
.buttons button {
  border-radius: 10px;
  padding: 0.6rem;
  background-color: var(--purple);
  border: none;
  color: var(--white);
  cursor: pointer;
}

#main {
  list-style: none;
}
#main li {
  margin: 1.5rem;
  line-height: 1.3rem;
}
#main li .name {
  font-weight: bold;
}

footer {
  text-align: center;
  flex-shrink: 0;
  padding: 1rem;
}
footer a {
  text-decoration: none;
}
footer a:visited {
  color: var(--purple);
}